# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bank-man.e72b37cc/x64/Debug
/.vs/bank-management-system
/x64/Debug
/useless.h
/bank-man.e72b37cc/x64/Release
/x64/Release
